body
{
  padding-top: 70px;
}
.container {
  background-color: #F0F8FF;
}

.smallest-text
{
  padding: 12px 30px 0px 30px;
  color: #000;
  font-size:12px;
}
.form-contact
{
  max-width: 360px;
  padding: 5px 0 5px 0;
  margin: 0 auto;
}
.form-contact .form-control
{
  position: center;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea
{
  position: center;
  font-size: 16px;
  resize: vertical;
  max-width: 360;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-contact input[type="text"]
{
  margin-bottom: -1px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  padding: 15px 15px;
}
.form-contact input[type="number"]
{
  margin-bottom: -1px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  padding: 15px 15px;
}
.title
{
  color: #000;
  font-size: 22px;
  font-weight: 600;
  display: block;
}
.profile-img
{
  margin: 0 auto 10px;
  display: block;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
}

#error
{
  color: red;
  display: none;
}
