body
{
  padding-top: 70px;
  background-color: #EEEEEE;
}
.container
{
  margin: 0 auto;
  max-width: 1350px;
  height: 220px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 3px #808080;
  box-shadow: 1px 1px 3px #808080;
  border-radius: 20px;
}
.container article img{
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 200px;
  min-width: 150px;
}
.container article h1
{
  position: relative;
  top: 30px;
}
.container article p
{
  position: relative;
  top: 30;
}
h1
{
  font-size: 24px;
  font-weight: bold;
}
p
{
  font-size: 18px;
  font-weight: bold;
}
