body {
  background-color: #EEEEEE;
}

.navbar-default {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.main_slide {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
