= stylesheet_link_tag "root", :media => "all"
%body
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "/"}
          = image_tag "logo.png", :size => "50x32"
      .collapse.navbar-collapse{id: "nav_targets"}
        %ul.nav.navbar-nav
          %li
            %a{href: "#"}
              Work
          %li
            %a{href: "/about"}
              About
          %li
            %a{href: "https://github.com/nalgo-intern-2016/team-a/tree/master/wlf"}
              Contact
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "/login"}
              Sign in
