body
{
  padding-top: 70px;
}
.panel
{
    display: table-cell;
  	vertical-align: middle;
    text-align: center;
    background-color: #000;
}
.container
{
  max-width: 1000px;
  height: 200px;
  display: table-cell;
	vertical-align: middle;
  text-align: center;
  background-color: #FFFFFF;
}
.border h3
{
  text-align: center;
  vertical-align: bottm;
}
