body
{
  padding-top: 70px;
  background-color: #000000;
}
.container
{
  margin: 0 auto;
  max-width: 1350px;
  height: 220px;
  background-color: #FFFFFF;
}
.border h3
{
  text-align: center;
  vertical-align: bottm;
}
